.GameRoomContainer {
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.InfoButton {
  position: fixed;
  top: 10%;
  left: 10%;
  width: 50px;
}

.InfoButton:hover {
  cursor: pointer;
}

.Row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Player {
  display: flex;
  align-items: center;
  width: 35%;
  height: 140px;
  margin-bottom: 8%;
  position: relative;
}

.HostLeft {
  position: absolute;
  top: -50px;
  left: 30px;
  width: 80px;
  z-index: 1;
}


.HostRight {
  position: absolute;
  top: -50px;
  right: 30px;
  width: 80px;
  z-index: 1;
}

.SelfieLeft {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top:0;
  left:0;
}

.SelfieLeft > img {
  height: 90%;
  width: 90%;
  border-radius: 50%;
  margin: 5%;
  position: absolute;
}

.Eval {
  position: absolute;
  height: 90%;
  width: 90%;
  border-radius: 50%;
  margin: 5%;
  /* z-index: 10; */
}

.SelfieRight {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top:0;
  right:0;
}

.SelfieRight > img {
  height: 90%;
  width: 90%;
  border-radius: 50%;
  margin: 5%;
  position: absolute;
}

.GameInfoLeft {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-end;
  justify-content: center;
  height: 120px;
  margin-left: 70px; /* the selfie radius */
}

.GameInfoRight {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
  height: 120px;
  margin-right: 70px; /* the selfie radius */
}

.NameTagLeft {
  height: 50%;
  background-color: white;
  color: black;
  text-align: end;
  /* margin-left: 30px; */
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
  width: 100%
}

.NameTagRight {
  height: 50%;
  background-color: white;
  color: black;
  text-align: end;
  /* margin-right: 30px; */
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  width: 100%
}

.TagInfoLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  margin-right: 10px;
}


.TagInfoRight {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 10px;
}

.Name {
  font-family: 'Ma Shan Zheng', cursive;
  font-size: 20px;
}

.Num {
  display: inline-block;
  font-family: 'Red Rose', cursive;
  font-size: 48px;
}

.Chips {
  display: flex;
  margin: 2px 0;
}
.Chip {
  height: 20px;
  width: 20px;
  /* background-color: green; */
  margin: 0 2px;
}

.Button {
  background-color: white;
  border-radius: 50px;
  padding: 3% 6%;
  font-size: 14px;
  text-align: center;
  /* width: 60px; */
  margin-left: 4%;
  letter-spacing: 2px;
  font-family: 'Ma Shan Zheng', cursive;
}

.ButtonGreen {
  background-color: green;
  color: white;
  border-radius: 50px;
  padding: 3% 5%;
  font-size: 14px;
  text-align: center;
  /* width: 60px; */
  margin-left: 4%;
  letter-spacing: 2px;
  font-family: 'Ma Shan Zheng', cursive;
}


.ButtonGrey {
  background-color: grey;
  color: white;
  border-radius: 50px;
  padding: 3% 5%;
  font-size: 14px;
  text-align: center;
  /* width: 60px; */
  margin-left: 4%;
  letter-spacing: 2px;
  font-family: 'Ma Shan Zheng', cursive;
}

.ButtonArea {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  width: 100%;
}

.ButtonReady {
  background-color: green;
  border: solid 3px white;
  border-radius: 50px;
  padding: 8px 20px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
  /* width: 80px; */
  letter-spacing: 2px;
  font-family: 'Ma Shan Zheng', cursive;
  margin: 0 10px;
}

.ButtonNoReady {
  background-color: darkgray;
  border: solid 3px white;
  border-radius: 50px;
  padding: 8px 20px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
  /* width: 80px; */
  letter-spacing: 2px;
  font-family: 'Ma Shan Zheng', cursive;
  margin: 0 10px;
}

.StartButton {
  background-color: green;
  border: solid 3px white;
  border-radius: 50px;
  padding: 8px 20px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
  /* width: 80px; */
  letter-spacing: 2px;
  font-family: 'Ma Shan Zheng', cursive;
  margin: 0 10px;
}

.Hidden {
  display: none;
}

.StartButton:hover, .ButtonReady:hover {
  background-color: rgb(5, 150, 5);
  cursor: pointer;
}

.ButtonNoReady:hover {
  background-color: rgb(175, 167, 167);
  cursor: pointer
}


.StartButton:disabled {
  background-color: darkgray;
  cursor: not-allowed;
}

.Loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.LoadingText {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: 'Ma Shan Zheng', cursive;
  color: white;
  font-size: 36px;
  display: block;
  font-weight: bolder;
  background-color: rgba(255,255,255, 0.2);
  padding: 15px 30px;
}


@media (max-width: 900px) {
  .InfoButton {
    position: fixed;
    top: 10%;
    left: 10%;
    width: 20px;
  }

  .Row {
    width: 100%;
  }

  .Player {
    width: 40%;
    height: 130px;
    margin-bottom: 10%;
  }

  .HostLeft {
    position: absolute;
    top: -25px;
    left: 20px;
    width: 40px;
    z-index: 1;
  }

  .HostRight {
    position: absolute;
    top: -25px;
    right: 20px;
    width: 40px;
    z-index: 1;
  }

  .SelfieLeft {
    height: 120px;
    width: 120px;
  }

  .SelfieRight {
    height: 120px;
    width: 120px;
  }

  .GameInfoLeft {
    height: 100px;
    margin-left: 45px; /* the selfie radius */
    margin-bottom: 10px;
  }

  .GameInfoRight {
    height: 100px;
    margin-right: 45px; /* the selfie radius */
    margin-bottom: 10px;
  }

  .NameTagLeft {
    margin-top: 8px;
    padding-right: 10px;
  }

  .NameTagRight {
    margin-top: 8px;
    padding-left: 10px;
  }

  .TagInfoLeft {
    margin-right: 10px;
  }

  .TagInfoRight {
    margin-left: 10px;
  }

  .Name {
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
  }

  .Num {
    font-size: 4rem;
  }

  .Chip {
    height: 16px;
    width: 16px;
    /* background-color: green; */
    margin: 0 1px;
  }

  .Button {
    font-size: 1.1rem;
  }

  .ButtonGreen {
    font-size: 1.1rem;
  }


  .ButtonGrey {
    font-size: 1.1rem;
  }

  .Hidden {
    display: none;
  }

  .ButtonReady {
    border: solid 2px white;
    padding: 1.5% 3%;
    font-size: 1.4rem;
    font-weight: bold;
  }

  .ButtonNoReady {
    border: solid 2px white;
    padding: 1.5% 3%;
    font-size: 1.4rem;
    font-weight: bold;
  }

  .StartButton {
    border: solid 2px white;
    padding: 1.5% 3%;
    font-size: 1.4rem;
    font-weight: bold;
  }

  .LoadingText {
    font-size: 2.4rem;
  }
}



@media (max-width: 600px) {
  .InfoButton {
    position: fixed;
    top: 10%;
    left: 10%;
    width: 20px;
  }

  .Row {
    width: 85%;
  }

  .Player {
    width: 45%;
    height: 100px;
    margin-bottom: 10%;
  }

  .HostLeft {
    position: absolute;
    top: -25px;
    left: 20px;
    width: 40px;
    z-index: 1;
  }

  .HostRight {
    position: absolute;
    top: -25px;
    right: 20px;
    width: 40px;
    z-index: 1;
  }

  .SelfieLeft {
    height: 80px;
    width: 80px;
  }

  .SelfieRight {
    height: 80px;
    width: 80px;
  }

  .GameInfoLeft {
    height: 75px;
    margin-left: 45px; /* the selfie radius */
    margin-bottom: 10px;
  }

  .GameInfoRight {
    height: 75px;
    margin-right: 45px; /* the selfie radius */
    margin-bottom: 10px;
  }

  .NameTagLeft {
    margin-top: 5px;
    padding-right: 5px;
  }

  .NameTagRight {
    margin-top: 5px;
    padding-left: 5px;
  }

  .TagInfoLeft {
    margin-right: 5px;
  }

  .TagInfoRight {
    margin-left: 5px;
  }

  .Name {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
  }

  .Num {
    font-size: 3rem;
  }

  .Chip {
    height: 10px;
    width: 10px;
    /* background-color: green; */
    margin: 0 1px;
  }

  .Button {
    font-size: 0.9rem;
  }

  .ButtonGreen {
    font-size: 0.9rem;
  }


  .ButtonGrey {
    font-size: 0.9rem;
  }

  .ButtonArea {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    width: 100%;
  }

  .Hidden {
    display: none;
  }

  .ButtonReady {
    border: solid 2px white;
    padding: 1.5% 3%;
    font-size: 1.4rem;
    font-weight: bold;
  }

  .ButtonNoReady {
    border: solid 2px white;
    padding: 1.5% 3%;
    font-size: 1.4rem;
    font-weight: bold;
  }

  .StartButton {
    border: solid 2px white;
    padding: 1.5% 3%;
    font-size: 1.4rem;
    font-weight: bold;
  }

  .LoadingText {
    font-size: 2.4rem;
  }
}
