.Container {
  background-color: whitesmoke;
  height: 80vh;
  z-index: 10;
  /* padding-top: 20px;
  padding-bottom: 20px; */
  overflow-y: auto;
  position: fixed;
  top: 10vh;
  left: 0;
  width: 65vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: none;
  outline: none;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 2;
}

/* .Container > h1 {
  color: Black;
  font-family: 'Ma Shan Zheng', cursive;
  font-size: 24px;
  letter-spacing: 1px;
} */


.CenterDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.Button {
  background-color: green;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 10px 0px;
  font-size: 14px;
  text-align: center;
  width: 200px;
  letter-spacing: 2px;
  font-family: 'Ma Shan Zheng', cursive;
}

.InfoGroup {
  width: 90%;
  background-color: white;
  padding: 5px;
  box-shadow: 0 10px 6px -6px #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 50px;
}

.InfoGroup > h1 {
  color: Black;
  font-family: 'Ma Shan Zheng', cursive;
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: bold;
}

.InfoCard {
  width: 95%;
  background-color: white;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
  border: dashed 1px darkgrey;
}

.InfoCard > h1 {
  color: Black;
  font-family: 'Ma Shan Zheng', cursive;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: lighter;
}

.Order {
  display: flex;
  align-items: center;
  justify-content: center;
}

.PlayerPhoto {
  width: 70px;
  border-radius: 50%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid lightgray;
}

.PlayerIndex {
  color: grey;
  font-size: 24px;
  font-family: 'Red Rose', cursive;
  font-weight: bolder;
  margin-top:3px;
}

.EvalImg {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: transparent;
  margin: 10px;
  position: relative;
}


.EvalImg > img, .EvalImgChecked > img, .EvalFalse > img, .EvalTrue > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


.EvalImgChecked {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: lightgray;
  border: solid 2px lightgray;
  margin: 10px;
  position: relative
}


.EvalTrue {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color:rgba(0, 128, 0, 0.281);
  border: solid 2px rgba(0, 128, 0, 0.281);
  margin: 10px;
  position: relative
}


.EvalFalse {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.233);
  border: solid 2px rgba(255, 0, 0, 0.233);
  margin: 10px;
  position: relative
}


.True {
  position: absolute;
  width: 30%;
  height: 30%;
  color: green;
  font-size: x-large;
  font-family: 'Ma Shan Zheng', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -15px;
  right: -15px;
}


.False {
  position: absolute;
  width: 30%;
  height: 30%;
  font-size: x-large;
  font-family: 'Ma Shan Zheng', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -15px;
  right: -15px;
  color: darkred;
}


table {
  border-collapse: collapse;
  margin-bottom: 10px;
}
th, td {
  text-align: center;
  width: 100px;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
}

th > img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: lightgray;
  margin: 5px 10px;
  position: relative;
}

td > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: lightgray;
  margin: 5px;
  position: relative;
}

td {
  color: grey;
  font-size: 24px;
  font-family: 'Red Rose', cursive;
  font-weight: bold;
  position: relative;
}

td > span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 5px;
}

tbody {
  border-bottom: 2px solid grey;
}
tbody tr:nth-child(odd) {
  background: lightgrey;
}
tbody tr:hover {
  background: grey;
  color: white;
  cursor: pointer;
}


.Chip {
  height: 20px;
  width: 20px;
  /* background-color: green; */
  margin: 0 2px;
}


/*


.ButtonNext {
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.1);
  border: 0;
  padding: 0 5px;
  width: 10%;
  overflow: hidden;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  cursor: pointer;
  right: 0;
  padding-right: 12px;
  outline: none;
}

.ButtonNext > span {
  display: inline-block;
  width: 15px;
  height: 15px;
  position: relative;
  box-sizing: border-box;
  opacity: 0.65;
  border-bottom: 4px solid white;
  border-left: 4px solid white;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}


.ButtonPrev:hover, .ButtonNext:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.ButtonPrev:hover > span, .ButtonNext:hover > span {
  opacity: 0.95
}

.Button {
  padding: 5px 10px;
  background-color: white;
  border: none;
  border-radius: 50px;
  text-align: center;
  transition: all 0.2s;
  position: relative;
  font-size: 18px;
  font-family: 'Ma Shan Zheng', cursive;
  margin: 30px 10px 0 10px;
  padding: 8px 20px;
  border: solid 2px grey;
}

.Button:hover {
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}

.Button:active, .Button:focus {
  outline: none;
  border: none;
} */

@media (max-width: 900px) {
  .Container {
    width: 90vw;
  }
}


@media (max-width: 600px) {
  .Container {
    width: 90vw;
  }

  .InfoGroup {
    margin: 20px;
  }

  .InfoGroup > h1 {
    font-size: 18px;
  }

  .InfoCard {
    margin: 5px;
  }

  .InfoCard > h1 {
    font-size: 14px;
  }

  .PlayerPhoto {
    width: 40px;
    margin: 5px;
  }

  .Img {
    width: 40px;
    height: 40px;
    border: none;
  }

  .PlayerIndex {
    font-size: 16px;
  }

  .EvalImg {
    width: 70px;
    height: 70px;
  }


  .EvalImg > img, .EvalImgChecked > img, .EvalFalse > img, .EvalTrue > img {
    width: 70px;
    height: 70px;
  }


  .EvalImgChecked {
    width: 70px;
    height: 70px;
  }


  .EvalTrue {
    width: 70px;
    height: 70px;
  }


  .EvalFalse {
    width: 70px;
    height: 70px;
  }


  .True {
    font-size: medium;
    top: -10px;
    right: -10px;
  }


  .False {
    font-size: medium;
    top: -10px;
    right: -10px;
  }

  th, td {
    width: 55px;
  }

  th > img {
    width: 40px;
    height: 40px;
  }

  td > img {
    width: 30px;
    height: 30px;
    margin: 5px 5px 5px 0;
  }

  td {
    font-size: 14px;
  }


  tbody {
    border-bottom: none;
  }

  .Chip {
    height: 10px;
    width: 10px;
  }
}
