.NavContainer {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1%;
}

.WidePadding {
  padding: 5%;
  justify-content: center;
  font-size: 3rem;
}


.NarrowPadding {
  padding: 2%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
  font-size: 20px;
}



.Title {
  color: whitesmoke;
  margin:10px;
  letter-spacing: 10px;
}

.RoomInfo {
  display: flex;
}

.Subtitle {
  display: inline-block;
  background-color: white;
  border-radius: 50px;
  padding: 2% 0;
  font-size: 14px;
  text-align: center;
  width: 165px;
  margin-left: 4%;
}

.Subtitle > span {
  letter-spacing: 2px;
  font-family: 'Red Rose', cursive;
  font-size: 14px;
  margin-left: 4px;
}


/* mobile styles */
@media (max-width: 600px) {
  .WidePadding {
    padding-top: 10%;
    padding-bottom: 0;
    font-size: 1.8rem;
  }

  .NarrowPadding {
    padding: 2rem;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    font-size: 1.4rem;
  }

  .RoomInfo {
    margin-top: 1rem;
  }

  .Subtitle {
    font-size: 1.2rem;
    width: 14rem;
  }

  .Subtitle > span {
    font-size: 1.2rem;
    margin-left: 2px;
  }

}
