.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 40px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  border-radius: 50px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
}


.Title {
  color: Black;
  font-family: 'Ma Shan Zheng', cursive;
  font-size: 36px;
  font-weight: bolder;
  margin: 20px 0;
}


.InfoCard {
  width: 90%;
  background-color: white;
  padding: 5px;
  box-shadow: 0 10px 6px -6px #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px 50px 50px;
}

.InfoCard > h1 {
  color: white;
  background-color: grey;
  padding: 5px 10px;
  font-family: 'Ma Shan Zheng', cursive;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: lighter;
}

.ImgGroup {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Ma Shan Zheng', cursive;
  font-size: 20px;
  margin: 10px;
}

.ZodiacRes {
  background-color: white;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  border: dashed 1px darkgrey;
}

.ResGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3px;
}

.Imgs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Imgs > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.PlusRes {
  color: green;
  font-size: 32px;
  font-family: 'Red Rose', cursive;
  font-weight: bolder;
  margin: 0 10px;
}

.TransRes {
  color: transparent;
  font-size: 32px;
  font-family: 'Red Rose', cursive;
  font-weight: bolder;
}


.EvalTrue {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color:rgba(0, 128, 0, 0.281);
  border: solid 2px rgba(0, 128, 0, 0.281);
  margin: 10px;
  position: relative
}


.EvalFalse {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.233);
  border: solid 2px rgba(255, 0, 0, 0.233);
  margin: 10px;
  position: relative
}

.Unknown > img, .EvalTrue > img, .EvalFalse > img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.True {
  position: absolute;
  width: 30%;
  height: 30%;
  color: green;
  font-size: x-large;
  font-family: 'Ma Shan Zheng', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -15px;
  right: -15px;
}


.False {
  position: absolute;
  width: 30%;
  height: 30%;
  font-size: x-large;
  font-family: 'Ma Shan Zheng', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -15px;
  right: -15px;
  color: darkred;
}


.Roles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.Roles > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.RoleName {
  color: grey;
  font-family: 'Ma Shan Zheng', cursive;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: bold;
}

.RoleName > span {
  color: grey;
  font-size: 20px;
  font-family: 'Red Rose', cursive;
  font-weight: bolder;
}
