.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 300px;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  border-radius: 50px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
}

.Modal > img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.Role {
  color: Black;
  font-family: 'Ma Shan Zheng', cursive;
  font-size: 36px;
  font-weight: bolder;
  margin-top: 20px;
}

.Notes {
  font-family: 'Ma Shan Zheng', cursive;
  font-size: 16px;
  text-align: center;
  color: black;
  padding: 10px;
  background-color: whitesmoke;
  margin-bottom: 15px;
}

.Button {
  padding: 5px 10px;
  background-color: white;
  border: none;
  border-radius: 50px;
  text-align: center;
  transition: all 0.2s;
  position: relative;
  font-size: 18px;
  font-family: 'Ma Shan Zheng', cursive;
  margin: 30px 10px 0 10px;
  padding: 8px 20px;
  border: solid 2px grey;
}

.Button:hover {
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}

.Button:active, .Button:focus {
  outline: none;
  border: none;
}
