.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 40px;
  width: 600px;
  height: 400px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  border-radius: 50px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
}

.ImgCounter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.CounterGroup {
  width: 25%;
  padding: 2%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: grey;
  font-size: 24px;
  font-family: 'Red Rose', cursive;
  font-weight: bolder;
}

.CounterGroup > img {
  width: 100px;
}

.Counter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.Counter > img {
  width: 25px;
  margin: 10px;
}

.Counter > img:hover {
  width: 27x;
}

.Counter > img:active {
  width: 25px;
}


.Chips {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-family: 'Ma Shan Zheng', cursive;
  color: grey;
  margin: 20px 0 30px;
}

.Chip {
  height: 20px;
  width: 20px;
  margin-left: 15px;
  padding-bottom: 2px;
}


.Button {
  background-color: white;
  border-radius: 50px;
  text-align: center;
  transition: all 0.2s;
  position: relative;
  font-size: 18px;
  font-family: 'Ma Shan Zheng', cursive;
  margin: 5px 0 15px;
  padding: 8px 20px;
  border: solid 2px grey;
}

.Button:hover {
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}

.Button:active, .Button:focus {
  outline: none;
  border: none;
}

@media (max-width: 600px) {
  .Modal {
    padding: 40px 20px;
    width: 300px;
    height: 200px;
    border-radius: 20px;
  }

  .ImgCounter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .CounterGroup {
    width: 25%;
    font-size: 16px;
  }

  .CounterGroup > img {
    width: 65px;
  }

  .Counter {
    margin: 5px 0;
  }

  .Counter > img {
    width: 15px;
  }

  .Counter > img:active {
    width: 15px;
  }


  .Chips {
    font-size: 14px;
  }

  .Chip {
    height: 15px;
    width: 15px;
    margin-left: 5px;
  }


  .Button {
    font-size: 14px;
    padding: 5px 12px;
    margin: 0;
  }
}




